.gitattributes
.vs/LuzumlarPhotoOrganizer.slnx/DesignTimeBuild/.dtbcache.v2
.vs/LuzumlarPhotoOrganizer.slnx/FileContentIndex/459c9616-5bdf-47d7-aae3-2a52d48ca630.vsidx
.vs/LuzumlarPhotoOrganizer.slnx/FileContentIndex/4b0358c0-4812-46f1-a062-951aaccf44fe.vsidx
.vs/LuzumlarPhotoOrganizer.slnx/FileContentIndex/73a31bb0-b0a9-40b2-8ba4-58696c1addb6.vsidx
.vs/LuzumlarPhotoOrganizer.slnx/FileContentIndex/822d03d1-6538-4cbd-b603-88a724bfad47.vsidx
.vs/LuzumlarPhotoOrganizer.slnx/FileContentIndex/f3e2543c-4804-4e47-9745-a7a6548c644d.vsidx
.vs/LuzumlarPhotoOrganizer.slnx/v18/.futdcache.v2
.vs/LuzumlarPhotoOrganizer.slnx/v18/.suo
.vs/LuzumlarPhotoOrganizer.slnx/v18/DocumentLayout.backup.json
.vs/LuzumlarPhotoOrganizer.slnx/v18/DocumentLayout.json
.vs/LuzumlarPhotoOrganizer/CopilotIndices/18.7.1253.33689/CodeChunks.db
.vs/LuzumlarPhotoOrganizer/CopilotIndices/18.7.1253.33689/CodeChunks.db-shm
.vs/LuzumlarPhotoOrganizer/CopilotIndices/18.7.1253.33689/CodeChunks.db-wal
.vs/LuzumlarPhotoOrganizer/CopilotIndices/18.7.1253.33689/SemanticSymbols.db
.vs/LuzumlarPhotoOrganizer/CopilotIndices/18.7.1253.33689/SemanticSymbols.db-shm
.vs/LuzumlarPhotoOrganizer/CopilotIndices/18.7.1253.33689/SemanticSymbols.db-wal
.vs/ProjectEvaluation/luzumlarphotoorganizer.metadata.v10.bin
.vs/ProjectEvaluation/luzumlarphotoorganizer.projects.v10.bin
.vs/ProjectEvaluation/luzumlarphotoorganizer.strings.v10.bin
Properties/PublishProfiles/FolderProfile.pubxml
Properties/PublishProfiles/FolderProfile.pubxml.user
Properties/PublishProfiles/FolderProfile1.pubxml
Properties/PublishProfiles/FolderProfile1.pubxml.user
*.vsidx
*.dll
*.json
*.so
*.dylib
*.pdb
*.cache
bin/Debug/net10.0/LuzumlarPhotoOrganizer.exe
bin/Release/net10.0/LuzumlarPhotoOrganizer.exe
bin/Release/net10.0/osx-x64/createdump
bin/Release/net10.0/osx-x64/LuzumlarPhotoOrganizer
obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0/apphost.exe
obj/Debug/net10.0/Avalonia/references
obj/Debug/net10.0/Avalonia/resources
obj/Debug/net10.0/Luzumlar.8BC5A3D4.Up2Date
obj/Debug/net10.0/LuzumlarPhotoOrganizer.AssemblyInfo.cs
obj/Debug/net10.0/LuzumlarPhotoOrganizer.csproj.BuildWithSkipAnalyzers
obj/Debug/net10.0/LuzumlarPhotoOrganizer.csproj.FileListAbsolute.txt
obj/Debug/net10.0/LuzumlarPhotoOrganizer.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/LuzumlarPhotoOrganizer.GlobalUsings.g.cs
obj/LuzumlarPhotoOrganizer.csproj.nuget.g.props
obj/LuzumlarPhotoOrganizer.csproj.nuget.g.targets
obj/publish/osx-x64/LuzumlarPhotoOrganizer.csproj.nuget.g.props
obj/publish/osx-x64/LuzumlarPhotoOrganizer.csproj.nuget.g.targets
obj/Release/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Release/net10.0/apphost.exe
obj/Release/net10.0/Avalonia/references
obj/Release/net10.0/Avalonia/resources
obj/Release/net10.0/Luzumlar.8BC5A3D4.Up2Date
obj/Release/net10.0/LuzumlarPhotoOrganizer.AssemblyInfo.cs
obj/Release/net10.0/LuzumlarPhotoOrganizer.csproj.FileListAbsolute.txt
obj/Release/net10.0/LuzumlarPhotoOrganizer.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net10.0/LuzumlarPhotoOrganizer.GlobalUsings.g.cs
obj/Release/net10.0/osx-x64/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Release/net10.0/osx-x64/apphost
obj/Release/net10.0/osx-x64/Avalonia/references
obj/Release/net10.0/osx-x64/Avalonia/resources
obj/Release/net10.0/osx-x64/Luzumlar.8BC5A3D4.Up2Date
obj/Release/net10.0/osx-x64/LuzumlarPhotoOrganizer.AssemblyInfo.cs
obj/Release/net10.0/osx-x64/LuzumlarPhotoOrganizer.csproj.FileListAbsolute.txt
obj/Release/net10.0/osx-x64/LuzumlarPhotoOrganizer.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net10.0/osx-x64/LuzumlarPhotoOrganizer.GlobalUsings.g.cs
obj/Release/net10.0/osx-x64/PublishOutputs.bb337ad8ba.txt
obj/Release/net10.0/PublishOutputs.cdb3fb1bfc.txt
